.carousel-caption{
    background-color: rgba(0,0,0,0.5);
    font-family: serif;
    width: 100%;
    left: 0;
    bottom: 0;
    padding-bottom: 2rem;
    padding-left: 2rem;
}
.team .col-lg-4{
    padding-top: 3rem;
    margin-bottom: 1.5rem;
    text-align: center;
}
.footer-section{
    padding-top: 3rem;
    padding-bottom: 3rem;
    
}
@media(min-width:1200px){
    
}
@media(max-width:540px){
    .carouselImg{
        display: none;
    }
    
}
body{
    background-color: #E8DFCA;
    font-family: sans-serif;
    font-display: auto;
    text-align: center;
}
.float-right{
    text-align: end;
}















